root = true

[*]
insert_final_newline = true
end_of_line = lf

[nvim-tree-lua.txt]
max_line_length = 78

# keep these in sync with .luarc.json
#   .editorconfig is used within nvim, overriding .luarc.json
#   .luarc.json is used by style check
[*.lua]
indent_style = space
max_line_length = 140
indent_size = 2

# EmmyLuaCodeStyle specific, see
# https://github.com/CppCXY/EmmyLuaCodeStyle/blob/master/lua.template.editorconfig
continuation_indent = 2
quote_style = double
call_arg_parentheses = always
space_before_closure_open_parenthesis = false
align_continuous_similar_call_args = true
