name: Luarocks Release

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  luarocks-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: LuaRocks Upload
        uses: nvim-neorocks/luarocks-tag-release@v7
        env:
          LUAROCKS_API_KEY: ${{ secrets.LUAROCKS_API_KEY }}
        with:
          summary: A File Explorer For Neovim
          detailed_description: |
            Automatic updates

            File type icons

            Git integration

            Diagnostics integration - LSP and COC

            (Live) filtering

            Cut, copy, paste, rename, delete, create etc.

            Highly customisable

            Rich API
          license: "GPL-3.0"
          labels: neovim
          dependencies: |
            nvim-web-devicons
